<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
   <connectionStrings>
      
      
     <add name="con_str" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDBFilename=|DataDirectory|\data\mydms_db.mdf;Initial Catalog=mydms_db;Integrated Security=True"
         providerName="System.Data.SqlClient" />
     
   </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

</configuration>